body{
    background-color:beige

}

.container{
display: flex;
flex-direction: column;
max-width: fit-content;
justify-content:space-around;
align-items: center;
margin: auto;
color:brown;
border:solid brown;
padding:1rem ;

}

.items{
    font-size:x-large;
    color:brown;
    margin:0.5rem;
    text-align: center;
}

#output{
font-size: xx-large;


}
